h1 {color:lavender; background-color: brown; padding: 5px;}
#nav {background-color: brown;}
.auth {background-color: brown; color: white; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-transform: uppercase;}

/* Comment goes here */

td.center {text-align: center;}
td.indent {text-indent: 20px;}
h1.article {text-shadow: 3px 4px 8px black;}